html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

.header {
  padding: 60px;
  text-align: center;
  background-image: url("../ZvR3IT8\ -\ Imgur.png");
  background-size: 100px;
  color: white;
  font-size: 30px;
}

.content {
  margin-left: 10px;
}